nav{
    width: max-content;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;

    color: crimson;
    background-color: rgba(0,0,0, 0.5);
    padding: 1rem;
    border-radius: 50px;
    z-index: 2;
    transition: all 300ms ease;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .icons > svg{
    color: chartreuse;
} */

.icons > a{
    color: crimson;
}

