@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


*{
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}


::-webkit-scrollbar{
  scroll-behavior: smooth;
}

:root{--container-height: 100%;
  --font-size:12px;
  --font-family: 'Poppins', sans-serif;



  /* containers */
  --container-width-sscreen:100%;
  --container-width-mscreen:96%;
  --container-width-lscreen:75%;
}


/* .....GENERAL..... */

body{
  user-select: none;
  font-family: var(--font-family);
}

section{
  height: max-content;
  text-align: center;
}
.gradient-text{
  background-color: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
}

a{
  text-decoration: none;
}


img{
  width: 100%;
  display: block;
  object-fit: cover;
}


.container{
  width: var(--container-width-lscreen);
  margin:0 auto;
}



/* ..................MEDIA QUERIES............ */


@media  screen and (max-width:800px) {
  .container{
    width: var(--container-width-sscreen);
    margin:  0 auto;
  }

  
}


@media  screen and (max-width:1050px) {
  .container{
    width: var(--container-width-mscreen);
    margin:  0 auto;
   
  }

}